body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    padding:0 0 0 70px;
}
div img{
    margin:0 0 0 90px;
}
img{
    width: 180px;
    weight: 470px;
    margin:0 0 0 40px;
}
.container{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    padding: 0 2%;
    background-color:#f2f2f2;
    /* border-radius: 10px; */
    /* box-shadow: rgba(0, 0, 0,0.5) 0px 0px 3px ; */
}
.paperlink{
    margin:15 0 0 40px;
}
.title,.sub-title{
    width: 100%;
    text-align: center;
}
.title{
    font-size: 2.5em;
    margin:50px 0 0 0;
    padding:10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -2px;
    background-color:rgba(13, 255, 165, 0.4) ;
}
.sub-title{
    font-size: 1.5em;
    margin: 10px 0 0 0;
    color: brown;
}
.auther,.auther-apart{
    color: deepskyblue;
     /**text-align: center;*/
}
.auther-order{
    color:black;
}
.auther span{
    margin:0 6px;
}
.auther-apart span{
    margin:0 10px;
} 
.auther a,.auther-apart a{
    color: deepskyblue;
    text-decoration:none;
}
.para{
    margin:20px 0;
    width: 100%;
}
.para-li{
    margin:40px 0;
    width: 100%;
}
.para a{
    text-decoration: none;
    color:#0C8AE8;
}
.para a:hover{
    text-decoration: underline;
}
.para-title{
    margin:10px 0;
    padding: 5px 30px;
    color:#313131;
    background-color:#00D6FF;
}
.context{
    margin:10px 50px;
}
.table{
    width: 80%;
    margin:0 auto;
    border: 1px solid #bbbbbb;
    border-spacing: 0;
    border-collapse: collapse;
}
.table thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table th,td{
    text-align: center;
    border: 1px solid #bbbbbb;
}
